argcomplete==2.0.0
attrs==23.1.0
btrfsutil==6.6.2
cffi==1.16.0
click==8.1.7
cryptography==41.0.6
distro==1.8.0
packaging==23.2
pipx==1.2.1
ply==3.11
psutil==5.9.6
pycparser==2.21
smbus==1.1
userpath==1.9.1
